<nav class="navbar navbar-inverse navbar-static-top" style="background-color: #1a2c51">
  <div class="container-fluid" (window:resize)="onResize($event)">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
              (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">SlackOverflow</a>
    </div>

  </div>
</nav>
